{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>صفحه لاگین</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css'>
  <link rel="stylesheet" href="{% static 'account/dist/style.css' %}">

</head>
<body>
<!-- partial:index.partial.html -->
<h2>سالوادور دالی</h2>
<div class="container" id="container">
	<div class="form-container ">
		<form action="" method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			<h1>وارد شوید</h1>
			<input type="text" name="username" placeholder="نام کاربری" required>
			<input type="password" name='password' placeholder="رمزعبور" required>
			<button type="submit" value="submit">ورود</button>
		</form>
	</div>
</div>

</body>
</html>
