{% extends 'ticket/partials/base.html' %}
{% load static %}

{% block title %}
تیکت شما
{% endblock title %}
    

{% block content %}
        <!-- Main content -->
            {% if not ticketdetail.status %}
            <div class="info-box mb-6 bg-warning">
                <span class="info-box-icon" ><i class="fas fa-exclamation-circle" ></i></span>
                <div class="info-box-content" style="text-align: center;">
      
                  <span class="info-box-text">این تیکت بسته شده است درصورت نیاز تیکت جدیدی ایجاد کنید</span>
                  <span class="info-box-number">SalvatorDeli</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            {% endif %}
                
        <section class="content">
            <div class="container-fluid">
              <div class="row">
                <!-- left column -->
                <div class="col-md-8" >
                  <!-- general form elements -->
                  
                <!--  --------------------پاسخ های تیکت------------------ -->
                {% for response in response  %}
                    <div class="card card-primary" >
                    <!-- /.card-header -->
                        <div class="card-header" style="background-color: red;">
                            <h3 class="card-title">{{response.user.username}}</h3>
                            {{response.jpublish}}
                        </div> 
                    <!-- card-body -->
                        <div class="card-body">
                            <div class="form-group">
                                <p>{{response.content}}</p>
                            </div>                            
                        </div>
                    <!-- /.card-body -->                        
                        {% if response.ticket.status and forloop.first and response.user != request.user %}
                            <div class="card-footer">
                                <a href="{% url 'ticket:response-add' response.ticket.id %}"><button  class="btn btn-primary">پاسخ</button></a>
                            </div>                     
                        {% endif %}                                
                    </div>
                {% endfor %}
                <!--  --------------------/.پاسخ های تیکت------------------ -->  

             <!-- ----------------------- تیکت اصلی ------------------------>
                <div class="card card-primary">
                    <!-- card-header -->
                    <div class="card-header" style="background-color: black;">
                        <h3 class="card-title">تیکت</h3>
                            {{ticketdetail.jpublish}} -
                            {{ticketdetail.user.username}}
                    </div>
                        <!-- card-body -->
                        
                        <div class="card-body">
                           <div class="form-group">
                               <p>{{ticketdetail.content}}</p>
                           </div>
                           
                           
                           
                        </div>
                        <div class="card-footer">
                            <div class="form-check">
                                <label class="form-check-label" for="exampleCheck1">وضعیت تیکت</label>
                                
                                {% if ticketdetail.status %}
                                <span class="alert alert-success">باز است</span>                              
                                {% else %}
                                <span class="alert alert-danger">بسته است</span>
                                {% endif %}
                                
                                {% if  response.count == 0 and request.user.department or request.user.is_superuser %}
                                     <a href="{% url 'ticket:response-add' ticketdetail.id %}"><button  class="btn btn-primary">پاسخ</button></a>
                                {% endif %}
                        
                        </div>
                        <!-- /.card -->
                        </div>
                </div>
        <!-- -----------------------/. تیکت اصلی ------------------------>             
                </div>
            <!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
                               
                           
                           

{% endblock content %} 