{% extends 'ticket/partials/base.html' %}
{% load static %}

{% block title %}
خانه 
{% endblock title %}
  

{% block content %}
      <!-- Main content -->
      <div class="container-fluid">
        <div class="info-box mb-6 bg-warning">
          <span class="info-box-icon"><i class="fas fa-envelope-open"></i></span>

          <div class="info-box-content" style="text-align: center;">
            <span class="info-box-text">به سیستم تیکتینگ دلی خوش آمدید</span>
            <span class="info-box-number">SalvatorDeli</span>
          </div>
          <!-- /.info-box-content -->
        </div>
      </div>
{% endblock content %}