{% extends 'ticket/partials/base.html' %}
{% load static %}

{% block title %}
لیست تیکت ها    
{% endblock title %}

{% block content %}
        <!-- Main content -->
            <div class="container-fluid">
                <!-- /.row -->
            <div class="row">
                <div class="col-12">
                <div class="card">
                    <div class="card-header">
                    <h3 class="card-title">...</h3>
            
                    <div class="card-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
            
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-default">
                            <i class="fas fa-search"></i>
                            </button>
                        </div>
                        </div>
                    </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                    <table class="table table-hover text-nowrap">
                        <thead>
                        <tr>
                            <th>شماره</th>
                            <th>کاربر</th>
                            <th>تاریخ</th>
                            <th>توضیحات</th>
                            <th>وضعیت تیکت</th>
                        </tr>
                        </thead>

                        <tbody>
                            
                            {% if user.is_superuser %}                            
                                {% for ticket in ticket_list  %}
                                    <tr>
                                        <td>
                                            <a href="{%url 'ticket:ticket-detail' ticket.id %}"><button  class="btn btn-primary">{{ticket.id}}</button></a>
                                        </td>
                                        <td>{{ticket.user.first_name}}</td>
                                        <td>{{ticket.jpublish}}</td>
                                        <td>{{ticket.content|striptags|truncatewords:"10"}}</td>
                                        
                                        {% if ticket.status %}
                                            <td><span class="alert alert-success" >باز است</span></td>
                                        {% else %} 
                                            <td><span class="alert alert-danger">بسته است</span></td>
                                        {% endif %}                                            
                                    </tr>
                                    {% empty %}
                                        <td><b>در حال حاضر تیکتی وجود ندارد</b></td>
                                {% endfor %}                                    
                            
                                                           
                            {% elif user.is_supporter %}
                                {% for ticket in sup_tickets %}
                                
                                    <tr>
                                        <td>
                                            <a href="{%url 'ticket:ticket-detail' ticket.id %}"><button  class="btn btn-primary">{{ticket.id}}</button></a>
                                        </td>
                                        <td>{{ticket.user.first_name}}</td>
                                        <td>{{ticket.jpublish}}</td>
                                        <td>{{ticket.content|striptags|truncatewords:"10"}}</td>
                                        
                                        {% if ticket.status %}
                                            <td><span class="alert alert-success" >باز است</span></td>
                                        {% else %} 
                                            <td><span class="alert alert-danger">بسته است</span></td>
                                        {% endif %}                                            
                                    </tr>
                                    {% empty %}
                                        <td><b>در حال حاضر تیکتی وجود ندارد</b></td>
                                
                                {% endfor %} 

                            {% else %}                                
                                {% for ticket in cus_tickets  %}
                                    <tr>                                                              
                                        <td>
                                            <a href="{%url 'ticket:ticket-detail' ticket.id %}"><button  class="btn btn-primary">{{ticket.id}}</button></a> 
                                        </td>                                          
                                        <td>{{ticket.user.first_name}}</td>                                    
                                        <td>{{ticket.jpublish}}</td>
                                        <td>{{ticket.content|striptags|truncatewords:"10"}}</td>
                                            
                                        {% if ticket.status %}
                                            <td><span class="alert alert-success">باز است</span></td>
                                        {% else %} 
                                            <td><span class="alert alert-danger">بسته است</span></td>
                                        {% endif %}                                        
                                    </tr>
                                    {% empty %}
                                        <td><b>در حال حاضر تیکتی وجود ندارد</b></td>
                                {% endfor %}                                 
                                
                            {% endif %}
                                              
                        </tbody>
                    </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
                </div>
                </div>
            <!-- /.row -->
            </div>


{% endblock content %}

