{% extends 'ticket/partials/base.html' %}
{% load static %}

{% block title %}
ثبت پاسخ
{% endblock title %}


{% block content %}
    <div class="container-fluid">
      <div class="row">
        <!-- left column -->
        <div class="col-md-8" >
          <!-- general form elements -->
          <div class="card card-primary">
           
            <div class="card-header">
              <h3 class="card-title">ایجاد تیکت</h3>
            </div>
            <!-- /.card-header -->

            <!-- form start -->
            <form action="" enctype="multipart/form-data" method="POST">
                {% csrf_token %}
              <div class="card-body">
                <!-- textarea -->
                <div class="form-group">
                  <label>پیام</label>
                  <textarea class="form-control" rows="3" name="content" placeholder="پیام خود را وارد کنید" required></textarea>
                </div>
                <!-- <div class="form-group">
                  <label for="exampleInputFile">بارگذاری عکس</label>
                  <div class="input-group">
                    <div class="custom-file">
                      <input type="image" alt="" name="image" class="custom-file-input" id="exampleInputFile" placeholder="عکس خود را در صورت لزوم آپلود کنید">
                      <label class="custom-file-label" for="exampleInputFile">عکس خود را در صورت لزوم آپلود کنید</label>
                    </div>
                    <div class="input-group-append">
                      <span class="input-group-text" id="">آپلود</span>
                    </div>
                  </div>
                </div> -->
               
              </div>
              <!-- /.card-body -->
              <div class="card-footer">
                <button type="submit" value="submit" class="btn btn-primary">ثبت</button>
              </div>
            </form>

          </div>
          <!-- /.card -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
  
{% endblock content %}

