{% extends 'ticket/partials/base.html' %}
{% load static %}


{% block content %}
  
  <body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
    
    <!-- Preloader -->
    <div class="preloader flex-column justify-content-center align-items-center">
      <img class="animation__shake" src="{%static 'ticket/dist/img/AdminLTELogo.png' %}" alt="AdminLTELogo" height="60" width="60">
    </div>

    <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1 class="m-0 text-dark">پاسخ به تیکت</h1>
              </div><!-- /.col -->
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="#">خانه</a></li>
                  <li class="breadcrumb-item active">Hi</li>
                </ol>
              </div><!-- /.col -->
            </div><!-- /.row -->
          </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <!-- left column -->
        <div class="col-md-8" >
          <!-- general form elements -->
          <div class="card card-primary">
           
            <div class="card-header">
              <h3 class="card-title">ایجاد تیکت</h3>
            </div>
            <!-- /.card-header -->

            <!-- form start -->
            <form action="" enctype="multipart/form-data" method="POST">
                {% csrf_token %}
              <div class="card-body">
                <!-- <div class="form-group">
                  <label for="exampleInputEmail1">آدرس ایمیل</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" name='email' placeholder="ایمیل خود را وارد کنید...">
                </div> -->
                
                <!-- textarea -->
                <div class="form-group">
                  <label>پیام</label>
                  <textarea class="form-control" rows="3" name="content" placeholder="پیام خود را وارد کنید" required></textarea>
                </div>
                <!-- <div class="form-group">
                  <label for="exampleInputFile">بارگذاری عکس</label>
                  <div class="input-group">
                    <div class="custom-file">
                      <input type="image" alt="" name="image" class="custom-file-input" id="exampleInputFile" placeholder="عکس خود را در صورت لزوم آپلود کنید">
                      <label class="custom-file-label" for="exampleInputFile">عکس خود را در صورت لزوم آپلود کنید</label>
                    </div>
                    <div class="input-group-append">
                      <span class="input-group-text" id="">آپلود</span>
                    </div>
                  </div>
                </div> -->
               
              </div>
              <!-- /.card-body -->
              <div class="card-footer">
                <button type="submit" value="submit" class="btn btn-primary">ثبت</button>
              </div>
            </form>

          </div>
          <!-- /.card -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
  </section>
  <!-- ./wrapper -->




    
</body>
{% endblock content %}

